:root {
    --dark-green: #1E2827;
    --white: #FFF;
    --black: #141414;
    --black-opacity: hsba(0, 0%, 8%, 0.5);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: ;
    font-family: "Epilogue", sans-serif;
    font-size: 15px;
    font-weight: 400;
    
}
header {
    background-color: var(--black);
    color: var(--white);
    
}
.logo {
    fill: var(--white);
}
footer {
    background-color: var(--dark-green);
}
ul {
    list-style: none;
}
/* start of navigation style */
.header-logo {
    display: flex;
    align-items: center;
    margin: 0 132px 0 132px ;
    justify-content: space-between;
    padding-top: 20px;
    height: 48px;
}
.nav-logo {
    display: flex;
    gap: 80px;
    align-items: center;

}
.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
}
a {
    text-decoration: none;
    color: var(--white);
}
.nav-list{
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}
.btn-tel {
    height: 48px;
    width: 159px;
    color: var(--white);
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.333;
    text-transform: uppercase;
    background-color: var(--dark-green);
    border-style: none;
}
/* end of navigation style */

/* start of hero style */
.hero-container {
    display: flex;
    margin: 0 132px 0 132px ;
    flex-wrap: wrap;
}
.hero-disc {
    display: flex;
    gap: 144px;
}
.hero-disc li h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 62px; /* 103.333% */
    letter-spacing: -2.4px;
    width: 750px;   
}
.hero-disc li p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 282px;
}
.hero-image {
    display: flex;
    align-items: center;
    gap: 64px;
}
.hero-slide {
    display: flex;
    width: 436px;
    height: 255px;
    flex-shrink: 0;
    background-color: var(--dark-green);
    justify-content: center;
}
/* end of hero style  */

/* thurman commit */
/* Start of Catalog Style */
h2 {
    margin: 50px;
}
.catalog-container { 
    display:flex;
    flex-wrap: wrap;
    width: 100%; 
    padding-bottom: 50px;
    padding-left:5%
}
.catalog-section li {
    list-style-type: none;
}
.catalog-section li img {
    display: block;
    padding: 15px;
}
.catalog-section p { 
    font-weight: 400;
    color: #FFFFFF80; 
}
.catalog-image-item {
    position:relative;
    overflow: hidden;
}
.catalog-image-item:hover .catalog-image-caption-1 {
    transform: translateY(0);
}
.catalog-image-caption-1 {
    position: absolute;
    background-color:var(--dark-green);
    color: var(--white);
    height: 100%;
    width: 100%;
    top: 0; 
    left: 0;
    padding-left: 20px;
    border-radius: 8px;
    transform: translateY(110%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)500ms; 
}   

.catalog-description {
    font-weight: 400; 
    padding-top: 25px;
    padding-bottom:10px;
}
/* End of Catalog Design */

/* BUTTON design */
.catalog-button {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    display: block;
    margin-left: 75%;
}
.catalog-button:hover {
    border-color: var(--white);
}
/* Modal Design */
.catalog-backdrop {
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,   0.4);
    position: fixed;
    top:0;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal { 
    width: 904px;
    height: 694px;
    background-color: white;
    border-radius: 4px;
    padding: 24px;
    margin-top: 80px;
}
.is-hidden { 
    opacity: 0; 
    pointer-events: none;
}

.modal-close-btn {
    border-radius: 100%;
    border: 1px solid var(--white);
    background-color: white;
    width: 30px;
    height: 30px;
    color: blue; 
    display: block;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}
.service-input {
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    margin-top:12px;
    margin-bottom: 24px;
}
.service-form textarea {
    margin-top: 12px;
}
.catalog-last-button {
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 14px;
    padding-bottom: 14px; 
    padding-left:24%; 
    padding-right: 24%; 
    background-color: var(--dark-green);
    color: #FFF;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
}
.catalog-policy {
    color: #14141466;
    font-size: 12px;
    font-weight: 400;
    padding-top: 12px;
}
.catalog-policy span {
    text-decoration: underline;
}


/* start of BLOCK section style*/
.block-title {
    color: rgba(20, 20, 20, 0.40);
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.72px;
}

.table-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
}

/* start of SALE section style */

.sale-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
}

.sale-image{ }
    

.classy {
    margin-left: 40px;
}

.classy-title {
    font-size: 38px;
    font-weight: 400;
    line-height: 40px; /* 105.263% */
    letter-spacing: -0.76px;
    text-wrap: wrap;
}

.sale-section {
    display: flex;
    margin-top: 124px;

}

.classy-information {
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
}

.classy-strikethrough-text{
    color: rgba(20, 20, 20, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    text-decoration: line-through;
    ;
}
.classy-text {
    margin-top: 44px;
}